.post-item{
    justify-content: center;
}
.rev_slider.fullwidthabanner {
  /*
    background: url("/content/profile/images/srollerH.jpg") repeat-x;
   background-size:contain;
   width:100%;
   height:100px;
   display: inline-block;
   position: absolute;
   animation: 5s scroll infinite linear;
 }
 @keyframes scroll {
   0% {background-position:-10%;}
   100% {background-position:100%;}
 }
 */

 width: 100vw;
height: 100vh;
  text-align:center;
background: url(https://i.ibb.co/CBc16wR/scroller-final-min.png) repeat-x;
-webkit-animation: backgroundScroll 999999s linear infinite;
animation: backgroundScroll 999999s linear infinite; /* Adjust timing here according to speed required */
  position:fixed;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -99999999px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -99999999px 0;}
}

.custom-btn {
  
  color: #fff;
  border-radius: 5px;
 
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.framey {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}


/* 7 */
.btn-7 {
  background: linear-gradient(0deg, rgb(176, 82, 0) 0%, rgb(255, 125, 32) 100%);
   
    padding: 0;
    border: none;
  }

  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgb(182, 55, 0);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(239, 72, 0);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }